@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Bungee+Spice&display=swap');
body {
  background: repeating-linear-gradient(
        -45deg,
        transparent 0%, transparent 5%, #c2ebbd 5%, #c2ebbd 10%  
    ), url('../../public/images/cesped2.png');
    background-blend-mode: multiply; 
  margin: 0;
  padding: 0;
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat;
  min-height: 100vh;
}

